.filament-peek-modal {
    position: sticky;
    top: 4rem;

    --filament-peek-panel-header-height: 4.8rem;
    --filament-peek-builder-actions-height: 4.25rem;
}

.filament-peek-panel {
    display: flex;
    flex-direction: column;
}

.filament-peek-panel-header {
    align-items: center;
    border-bottom: 1px solid var(--gray-200);
    display: flex;
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    justify-content: space-between;
    min-height: var(--filament-peek-panel-header-height);
    padding: calc(var(--spacing) * 4);
    user-select: none;
}

.filament-peek-panel-body {
    flex-grow: 1;
    padding: calc(var(--spacing) * 4);

    &.allow-iframe-overflow {
        overflow-y: auto;
    }

    iframe {
        /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25); */
        margin-left: auto;
        margin-right: auto;
        transition: all 200ms;
    }
}

/*** Preview ***/

.filament-peek-preview {
    flex-grow: 1;
    max-width: 100%;

    .filament-peek-panel-header > * {
        min-width: 10rem;
    }
}

.filament-peek-device-presets {
    @apply hidden gap-2 lg:flex;

    button {
        @apply inline-flex flex-col items-center disabled:opacity-25;

        svg {
            @apply h-6 w-6;
        }

        &:after {
            @apply mt-1 block h-1 w-1 rounded-full bg-transparent;
            content: '';
        }

        &.is-active-device-preset:after {
            @apply bg-current opacity-25;
        }
    }
}

.filament-peek-rotate-preset {
    svg {
        @apply relative -top-1;
    }
}

.filament-peek-modal-actions {
    @apply flex justify-end;
}

/*** Resizer ***/

.filament-peek-iframe-cover {
    display: none;
}

.is-filament-peek-editor-resizing {
    cursor: ew-resize;
    user-select: none;

    .filament-peek-editor-resizer {
        border-color: var(--gray-500);
    }

    /* This must be above everything to prevent resizing glitches */
    .filament-peek-iframe-cover {
        bottom: 0;
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
    }
}
